:root {
    --max-content: 1280px;

  --background-color: hsl(200deg 25% 50% / 0.1);
  --background-color-l: hsl(200deg 25% 50% / 0.025);
  --border-color: hsl(200deg 25% 50% / 0.2);

  --color: hsl(200deg 5% 15%);
  --color-l: hsl(200deg 5% 45%);
  --color-optimist: hsl(172deg 100% 37%);
  --color-focus: var(--color-optimist);

  --focus: 0 0 4px 2px var(--color-focus);

  --border-radius: 0.5rem;

  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 2rem;

  --padding-xs: 0.25rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;

  --font-s: 1rem;
  --font-n: 1.25rem;
  --font-l: 1.5rem;
  --font-xl: 1.75rem;

  --line-height: 1.7

}

h1, h2, h3, h4 {
    font-family: "Alegreya Sans", sans-serif;
}

body {
    font-family: "Nunito", sans-serif;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.layout {
    width: 100%;
    max-width: var(--max-content);
    padding: 1em;
    margin: 0 auto;
}
