.main-content {
  --background-color: hsl(200deg 25% 50% / 0.1);
  --background-color-l: hsl(200deg 25% 50% / 0.025);
  --border-color: hsl(200deg 25% 50% / 0.2);

  --color: hsl(200deg 5% 15%);
  --color-l: hsl(200deg 5% 45%);

  --focus: 0 0 4px 2px hsl(200 50% 50%);

  --border-radius: 0.5rem;

  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 2rem;

  --padding-xs: 0.25rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;

  --font-s: 1rem;
  --font-n: 1.25rem;
  --font-l: 1.5rem;
  --font-xl: 1.75rem;

  --line-height: 1.5
}

p {
  line-height: var(--line-height);
}

.main-content {
  background: var(--background-color);
  color: var(--color);
  font-size: var(--font-s);
  padding: var(--padding-m);
  margin-inline: auto;
  max-width: 600px;
}

.app-page__heading {
  font-weight: normal;
  font-size: var(--font-xl);
  margin-block: var(--margin-m) var(--margin-s);
}

.app-page__subheading {
  font-weight: normal;
  font-size: var(--font-n);
  margin-block-end: var(--margin-m);
}

.app-section__heading {
  color: var(--color-l);
  display: flex;
  font-weight: normal;
  margin-block-end: var(--margin-s);

  > button {
    background: transparent;
    border: 1px solid var(--color-l);
    border-radius: var(--border-radius);
    color: inherit;
    cursor: pointer;
    font-size: 80%;
    margin-inline-start: auto;
    padding: var(--padding-xs);

    &:hover {
      background: var(--color-l);
      color: white;
    }
  }
}

.app-content-block {
  background: white;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-block: var(--margin-l);
  padding: var(--padding-m);
}

.__result {
  background: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  margin-block: var(--margin-l) var(--margin-m);
  padding: var(--padding-m) var(--padding-s);

  > ul {
    margin: 0;
    padding: 0;

    li + li {
      margin-block-start: var(--margin-s);
    }
  }
}

.input-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--margin-m);

  &.__checkbox {
    gap: var(--padding-s);
    justify-content: start;
    margin-block-end: var(--margin-s);
  }
}

.input-group__container {
  padding: var(--padding-s);

  &:has([type="checkbox"]:checked) {
    background: var(--background-color-l);
    border-radius: var(--border-radius);
    margin-block-end: var(--margin-m);

    &.__single {
      background: transparent;
      margin-block-end: unset;
    }
  }
}

input[type="number"] {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  display: inline-block;
  font-weight: bold;
  inline-size: 8ch;
  padding-block: var(--padding-xs);
  text-align: center;

  &:focus, &:hover:not(:disabled) {
    box-shadow: var(--focus);
  }

  &:disabled {
    background: transparent;
    border-color: transparent;
  }
}

.warning {
  background-color:bisque;
}

.winter-slider {
  display: block;
}

.winter-slider__labels {
  display: flex;
  justify-content: space-between;

  > label {
    color: var(--color-l);
    padding-inline: var(--padding-s);
  }
}

.winter-slider__slider {
  inline-size: 100%;
}
